.vs/HelixAPI/FileContentIndex/efe34e91-cc7e-4333-9c05-77b413f34fe0.vsidx
.vs/HelixAPI/FileContentIndex/e1e1ce7a-5c14-4d8a-9a46-1263a9912f41.vsidx
.vs/HelixAPI/FileContentIndex/6fda49e6-7328-45f2-b554-84e0e0ad295a.vsidx
.vs/HelixAPI/FileContentIndex/3ea706fd-d948-4282-9a95-75652d8bd89e.vsidx
.vs/HelixAPI/FileContentIndex/2d2e7593-6a74-44df-a7e2-d921a3b73974.vsidx
/.vs/HelixAPI/FileContentIndex/4220f4ef-c59c-43ae-819f-f3b5c7e517aa.vsidx
*.vsidx
/.vs/HelixAPI/v17/.suo
/HelixAPI/bin/Debug/net8.0/HelixAPI.dll
/HelixAPI/bin/Debug/net8.0/HelixAPI.exe
/HelixAPI/bin/Debug/net8.0/HelixAPI.pdb
/HelixAPI/obj/Debug/net8.0/ref/HelixAPI.dll
/HelixAPI/obj/Debug/net8.0/refint/HelixAPI.dll
/HelixAPI/obj/Debug/net8.0/apphost.exe
/HelixAPI/obj/Debug/net8.0/HelixAPI.AssemblyInfo.cs
/HelixAPI/obj/Debug/net8.0/HelixAPI.AssemblyInfoInputs.cache
/HelixAPI/obj/Debug/net8.0/HelixAPI.csproj.BuildWithSkipAnalyzers
/HelixAPI/obj/Debug/net8.0/HelixAPI.csproj.CoreCompileInputs.cache
/HelixAPI/obj/Debug/net8.0/HelixAPI.csproj.FileListAbsolute.txt
/HelixAPI/obj/Debug/net8.0/HelixAPI.dll
/HelixAPI/obj/Debug/net8.0/HelixAPI.pdb
/HelixAPI/obj/Debug/net8.0/HelixAPI.sourcelink.json
